html, body{
    height: 100%;
    padding: 0;
    background: linear-gradient(to bottom right, rgb(75, 112, 193), violet);
}

body{
    margin: 10px;
}

.reloj {
    font-size: 4em;
    padding: 20px;
    border: 2px solid white;
    border-radius: 10px;
}

.footer{
    background-color: rgba(128, 128, 128, 0.5);
    padding: 20px;
    overflow: hidden;
}

#inicio{
    color: black;
    font-size: x-large;
    margin: 24px;
}

#inicio:hover{
    cursor: pointer;
}

.reloj_footer{
    display: flex;
    justify-content: space-around;
    clear: both;
}